@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2? family= PT+Serif:ital@1 & display=swap');

h1{
    color: black;
}

:root{
    --fonte1:'PT Serif', serif;
    --fonte2:'PT Serif', serif;
}

*{
    margin: 0px; 
    padding: 0px;
    /*usados para tirar as margens da pagina e deixar tudo bem colado*/
}

body{
    min-height: 80vh;
    font-family: var(--fonte1);
}

header{
    background-color: rgb(16, 16, 144);
    color: aliceblue;
    text-align:center;
}

header > h1{
    font-size: 6vw;
}

.cabeçalho{
    padding-top: 30px;
    font-variant: small-caps;
    font-family: 'PT Serif', serif;
}

#cabeçalho{
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
}

section{
    padding-top: 5vh;
    padding-bottom: 5vh;
    line-height: 1.5em;
    font-size: 2vw;
}
section > p{
    padding-bottom: 2.3em;
}

.normal{
    background-color: rgb(219, 235, 249);

}

.imagem{
    background-color: aquamarine;
    color: white;
    padding: 20px;
    font-size: 13px;
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.918);
    background-attachment: fixed;

}

.imagem > p {
    background-color: #0000009f;
    display: inline-block;
    text-shadow: 1px 1px 0px black;
}

p{
    padding: 20px;
    text-align: left;
    font-size: 16px;
    text-align: justify;
    
}

#img01{
    background-image: url(imagens/foto01.jpg);
    background-position: left;
    background-size: cover;


}

#img02{
    background-image: url(imagens/foto02.jpg);
    background-size: cover;
    text-align: right;

}

#fim{
    font-size: 14px;
}
 
.normal > p > a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    background-color: rgba(0, 0, 0, 0.405);
    text-decoration: underline;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a:hover {
    text-decoration: underline;
}